
*.avi

*.m~

01_GeneracionImagenesEntrenamiento_Calibracion.mat

Proyecto/Algoritmo_Pruebas/02_ExtracionDatos/ImagenesEntrenamiento_Calibracion.mat

Proyecto/Algoritmo_Pruebas/01_GenerarMaterial/ImagenesEntrenamiento_Calibracion.mat

.DS_Store
